body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/* #region Header Top Line */

.top-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.top-studio {
  color: #2e2f42;
}

.menu-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-studio:hover {
  color: #404bbf;
}
.menu-studio:focus {
  color: #404bbf;
}
.menu-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item:hover {
  color: #404bbf;
}
.address-item:focus {
  color: #404bbf;
}

/* #endregion Header Top Line */

/* #region Section 1   Effective Solutions for Your Business */

.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.effective-solutions {
  background: #2e2f42;
}
.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
}
.button-solutions:hover {
  background: #404bbf;
}
.button-solutions:focus {
  background: #404bbf;
}

/* #endregion Section 1   Effective Solutions for Your Business */

/* #region Section 2   Advantage  */

.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Section 2   Advantage  */

/* #region Section 3   Our Team  */

.our-team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  background: #fff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion Section 3   Our Team  */

/* #region Section 4   Our Portfolio */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-products {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-products-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Section 4   Our Portfolio */

/* #region Footer */

.footer-title {
  background: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-studio {
  color: #f4f4fd;
}
/* #endregion Footer */
