body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #region Header  */

#container-heder {
  display: flex;
  gap: 332px;
}
.header-top-line {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.nav-header {
  display: flex;
  align-items: center;
}
.top-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.top-studio {
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
}
.menu-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-studio:hover {
  color: #404bbf;
}
.menu-studio:focus {
  color: #404bbf;
}
.menu-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-item:hover {
  color: #404bbf;
}
.address-item:focus {
  color: #404bbf;
}

/* #endregion Header  */

/* #region  Effective Solutions for Your Business */
#container-solut {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 496px;
}
#effective-solutions {
  background: #2e2f42;
  padding: 188px 0;
}

.title-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}
.button-solutions {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background: #4d5ae5;
  height: 56px;
  min-width: 169px;
  border: none;
  border-radius: 4px;
}
.button-solutions:hover {
  background: #404bbf;
}
.button-solutions:focus {
  background: #404bbf;
}

/* #endregion  Effective Solutions for Your Business */

/* #region  Advantage  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.advantage-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantage-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Section 2   Advantage  */

/* #region Section 3   Our Team  */

#our-team {
  background: #f4f4fd;
}
#container-team {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.team-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 32px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion  Our Team  */

/* #region Our Portfolio */

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.portfolio-products {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
}
.portfolio-products-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 8px;
  padding-bottom: 32px;
}

/* #endregion Section 4   Our Portfolio */

/* #region Footer */

#container-footer {
  padding-top: 120px;
  padding-bottom: 120px;
}
#footer {
  background: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  padding-top: 16px;
}
.footer-studio {
  color: #f4f4fd;
}
/* #endregion Footer */
